* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: palegreen;
}

.container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;

    .square {
        width: 75px;
        height: 75px;
        text-align: center;
        border: 1px solid black;
    }

    .active {
        background-color: lightskyblue;
    }
}

.easy-container {
    max-width: 550px;
}

.medium-container {
    max-width: 700px;
}

.hard-container {
    max-width: 800px;
}